<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<form action="/salvarEstado" th:object="${estado}" method="POST">
			<label>Nome do Estado</label>
			<input type="text" th:field="*{nome}">
			
			<label>Sigla do Estado</label>
			<input type="text" th:field="*{sigla}">
			
			<input type="hidden" th:field="*{id}">
			
			<button type="submit">Gravar</button>
		</form>
	</body>
</html>